.container{
  width:400px;
  margin:40px auto;
  text-align:center;
}

ul{
  list-style:none;
  padding:0;
}

li{
  background:#1976d2;
  color:white;
  margin:10px;
  padding:10px;
  border-radius:5px;
}